body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.menu-container {
  display: flex;
}

.topbar-container {
 
  font-size: 14px;
  
}

.indices-container {
  border-bottom: 1px solid rgb(175, 175, 175);
  border-right: 1px solid rgb(175, 175, 175);
  display: flex;
  margin: 0;
  
}

.indices-c-2 {
  margin: 0 1rem;
  display: flex;
}

.nifty {
  display: flex;
}

.menu-container {
 border-bottom: 1px solid rgb(175, 175, 175);
 
  width: 100%;
}

.menu {
  font-size: 14px;
  display: flex;
  margin:0 18rem;
  list-style-type: none;

  
}

.app-nav {
display: flex;
justify-content: right ;
align-items:center;
width: 80%;
height: 100%;
margin: 0 10px 0 0;
font-size: 15px;

}




.topbar-container {
  display: flex;
  width: 100%;
  height: 56px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
}

/* Exact styles from Zerodha inspector */
.header-left {
  width: 30%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  border-right: 1px solid #e0e0e0;
  box-sizing: border-box;
  
  font-size: 16px;
}

.header-right {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 5%;
   height: 100%;
} 

.header-left .instrument {
  display: flex;
  align-items: center;
  gap: 6px;
}

.header-left .title {
  color: #444;
}

.header-left .price {
  color: #df514c;
}

.header-left .change {
  color: #9b9b9b;
  font-size: 12px;
  font-weight: 400;
}

.header-right-wrapper {
  width: 72%;
  height: 100%;
}

.nav-1 {
  padding: 16px 22.5px;
  text-decoration: none;
  color: #313131;
  font-size: 14px;
}

.nav-1:hover {
  color: #df514c !important; /* Changes text color to orange/red on hover */
}

.m-icon{
  padding: 0.1rem;
  opacity: 50%;
  margin: 1.1rem 0.5rem 1rem 1rem;
  display: flex;
  align-items: center;
  width: 3.2%;
  height: 100%;
}

.item{
  border-bottom: 1px solid rgb(211, 211, 211);

  height: 2.5rem;
}

.profit {
  color: #41b883; /* Zerodha green */
}

.loss {
  color: #ff5722; /* Zerodha red */
}

.t-head{
  width: 100%;
  font-weight:300;
  font: size 15px;
  border-top:rgb(232, 231, 231) 1px solid;
  height: 4rem;
}

.t-head-title{
  
  font-weight: lighter;
  opacity: 60%;
  padding: 1rem 0.5rem;
}

.order-table{
  width: 100%;
  
}

